@import "reset.css";

body {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  min-height: 95px;
}

.bg-red {
  background-color: #d35649;
}

.color-red {
  color: #d35649;
}

.logo {
  height: 60px;
}

.fs-7 {
  font-size: 0.8rem;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vw;
  max-height: 550px;
}

.search-form {
  background-color: rgba(255, 255, 255, 0.753);
}

.search {
  min-height: 31px;
}
